.register-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  align-items: center;
  color: var(--color-letras-oscuro);
  font-size: var(--tamano-subtitulos);
  background-color: rgba(0, 0, 0, 0.141);

  .card {
    backdrop-filter: blur(1px) saturate(183%);
    -webkit-backdrop-filter: blur(14px) saturate(183%);
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    width: 45vw;
    height: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;

    .btnCerrar {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background: transparent;
      border: none;
      font-size: 14px;
      cursor: pointer;
      color: #aaaaaa;

      &:hover {
        color: red;
      }
    }
    .titles {
      text-align: center;
      width: 100%;

      h1 {
        margin-bottom: 10px;
      }

      h4 {
        margin-top: 0px;
      }
    }

    .prueba {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    .mb-4 {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      padding: 0px 10px 0px 10px;

      label {
        margin-bottom: 5px;
      }

      div {
        display: flex;
        border: 1px solid rgb(200, 200, 200);
        align-items: center;
        width: 100%;

        justify-content: center;
        border-radius: 7px;
        background-color: #ffffff;

        img {
          padding: 0.5rem 1rem;
        }

        input {
          width: 90%;
          border: none;
          height: 2rem;
          margin: 0.1rem;
          font-size: 1rem;
          background-color: transparent;
          border-left: 1px solid rgb(200, 200, 200);
          font-size: var(--letra-normal);
        }
      }
    }

    .button-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      button {
        width: 90%;
        padding: 1rem;
        border: none;
        background-color: var(--morado-claro);
        border-radius: 1rem;
        cursor: pointer;
        color: var(--color-letras-blanco);

        &:hover {
          background-color: var(--primary-color);
        }
      }
    }

    .alreadyReg {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      h5 {
        margin: 0;
      }

      a {
        font-size: 0.8rem;
        margin-left: 10px;
        color: var(--morado-claro);

        &:hover {
          color: var(--primary-color);
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .register-container {
    .card {
      height: 70vh;
      max-height: 80vh;
      width: 80vw;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: auto;
    }

    .prueba {
      flex-wrap: wrap;

      .mb-4 {
        width: 100%;
        div {
          width: 100%;
        }
      }
    }
  }
}
