body {
  height: 100vh;
  width: 100%;
  color: #ffffff;
  margin: 0;
  background-color: hsla(250.1470588235294, 44%, 63%, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1227 1227' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(
      circle at 98% 97%,
      hsla(59, 85%, 86%, 1) 15%,
      transparent 50.28756377877879%
    ),
    radial-gradient(
      circle at 43% 92%,
      hsla(238, 38%, 78%, 1) 30.780839988590987%,
      transparent 69%
    ),
    radial-gradient(
      circle at 95% 18%,
      hsla(1.0000000000000089, 81%, 89%, 1) 20%,
      transparent 80%
    ),
    radial-gradient(
      circle at 72% 71%,
      hsla(197, 79%, 67%, 1) 11%,
      transparent 69%
    );
  background-blend-mode: overlay, normal, normal, normal, normal;
}
