<body>
    <app-navbar></app-navbar>
    <div class="home">
        <!-- Sección de Imagen y Texto -->
        <section class="intro">
            <div class="intro-text">
                <h2>Bienvenido a nuestra tienda</h2>
                <p>Descubre los mejores lentes del mercado, con un diseño único y una calidad excepcional. Encuentra el
                    estilo perfecto para ti.</p>
            </div>
            <div class="intro-image">
                <img src="assets/images/ft.png" alt="Lentes" class="intro-img">
            </div>

        </section>

        <!-- Resto de las secciones como Categorías o Productos y Sobre Nosotros -->
        <section class="products-categories">
            <h2>Nuestras Categorías</h2>
            <div class="categories">
                <div class="category-card"><button>
                        <h2>Lentes graduados</h2><img src="assets/images/graduados.webp" alt="" srcset="">
                    </button></div>
                <div class="category-card"><button>
                        <h2>Lentes de moda</h2><img src="assets/images/deModa.png" alt="" srcset="">
                    </button></div>
                <div class="category-card"><button>
                        <h2>Lentes de sol</h2><img src="assets/images/deSol.png" alt="" srcset="">
                    </button></div>

            </div>
        </section>

        <section class="about-us">
            <h2>Sobre Nosotros</h2>
            <p>Somos una tienda especializada en ofrecer los mejores lentes...</p>
        </section>
    </div>

</body>